@font-face {
    font-family: 'DaysRegular';
    font-weight: normal;
    font-style: normal;
    src: url('Days-webfont.eot');
    src: url('Days-webfont.eot?#iefix') format('embedded-opentype'),
    url('Days-webfont.woff') format('woff'),
    url('Days-webfont.ttf') format('truetype'),
    url('Days-webfont.svg#DaysRegular') format('svg');
}